In [38]:
# Install required libraries
!pip install pandas numpy scipy

# Import libraries
import pandas as pd
import numpy as np
from scipy.stats import norm

# Load the dataset


# Replace with the path to your dataset
file_path = "/content/TRADES_CopyTr_90D_ROI.csv"  # Update this path
df = pd.read_csv(file_path)

# Inspect the dataset
print(df.head())
print(df.info())

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
              Port_IDs                                      Trade_History
0  3925368433214965504  [{'time': 1718899656000, 'symbol': 'SOLUSDT', ...
1  4002413037164645377  [{'time': 1718980078000, 'symbol': 'NEARUSDT',...
2  3923766029921022977  [{'time': 1718677164000, 'symbol': 'ETHUSDT', ...
3  3994879592543698688  [{'time': 1718678214000, 'symbol': 'ETHUSDT', ...
4  3926423286576838657  [{'time': 1718979615000, 'symbol': 'ETHUSDT', ...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Port_IDs       150 non-null    int64
 1   Trade_History  149 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB
None

In [42]:
import pandas as pd
import numpy as np
import ast

# Load the dataset
data = pd.read_csv('/content/TRADES_CopyTr_90D_ROI.csv')

# Inspect the dataset
print(data.head())
print(data.info())

# Handle missing values
data.dropna(subset=['Trade_History'], inplace=True)

# Convert the 'Trade_History' column from string to list of dictionaries
data['Trade_History'] = data['Trade_History'].apply(ast.literal_eval)

# Explode the 'Trade_History' column into individual rows
exploded_data = data.explode('Trade_History')

# Convert the dictionaries into separate columns
trade_data = pd.json_normalize(exploded_data['Trade_History'])

# Combine the exploded data with the original Port_IDs
trade_data['Port_IDs'] = exploded_data['Port_IDs'].values

# Inspect the new DataFrame
print(trade_data.head())

# Convert relevant columns to numeric
trade_data['realizedProfit'] = pd.to_numeric(trade_data['realizedProfit'], errors='coerce')
trade_data['fee'] = pd.to_numeric(trade_data['fee'], errors='coerce')
trade_data['quantity'] = pd.to_numeric(trade_data['quantity'], errors='coerce')

# Group by Port_IDs and calculate metrics
def calculate_metrics(x):
    total_investment = x.loc[x['side'] == 'BUY', 'quantity'].sum()
    net_profit = x['realizedProfit'].sum() - x['fee'].sum()

    # Handle division by zero for ROI
    roi = (net_profit / total_investment * 100) if total_investment != 0 else 0

    # Handle division by zero for Sharpe Ratio
    sharpe_ratio = (x['realizedProfit'].mean() / x['realizedProfit'].std()) if x['realizedProfit'].std() != 0 else 0

    # Handle division by zero for MDD
    cumulative_pnl = x['realizedProfit'].cumsum()
    peak = cumulative_pnl.max()
    trough = cumulative_pnl.min()
    mdd = ((peak - trough) / peak) if peak != 0 else 0

    return pd.Series({
        'ROI': roi,
        'PnL': net_profit,
        'Sharpe Ratio': sharpe_ratio,
        'MDD': mdd,
        'Win Rate': (x['realizedProfit'] > 0).mean() * 100,
        'Win Positions': (x['realizedProfit'] > 0).sum(),
        'Total Positions': len(x)
    })

metrics = trade_data.groupby('Port_IDs').apply(calculate_metrics).reset_index()

# Rank accounts based on a composite score
weights = {
    'ROI': 0.3,
    'PnL': 0.25,
    'Sharpe Ratio': 0.2,
    'MDD': 0.15,
    'Win Rate': 0.1
}

metrics['Composite Score'] = (
    metrics['ROI'] * weights['ROI'] +
    metrics['PnL'] * weights['PnL'] +
    metrics['Sharpe Ratio'] * weights['Sharpe Ratio'] +
    (1 - metrics['MDD']) * weights['MDD'] +  # Lower MDD is better
    metrics['Win Rate'] * weights['Win Rate']
)

metrics = metrics.sort_values(by='Composite Score', ascending=False)

# Save the results
metrics.to_csv('account_metrics.csv', index=False)

# Top 20 accounts
top_20 = metrics.head(20)
print(top_20)

              Port_IDs                                      Trade_History
0  3925368433214965504  [{'time': 1718899656000, 'symbol': 'SOLUSDT', ...
1  4002413037164645377  [{'time': 1718980078000, 'symbol': 'NEARUSDT',...
2  3923766029921022977  [{'time': 1718677164000, 'symbol': 'ETHUSDT', ...
3  3994879592543698688  [{'time': 1718678214000, 'symbol': 'ETHUSDT', ...
4  3926423286576838657  [{'time': 1718979615000, 'symbol': 'ETHUSDT', ...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Port_IDs       150 non-null    int64
 1   Trade_History  149 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB
None
            time    symbol side      price       fee feeAsset    quantity  \
0  1718899656000   SOLUSDT  BUY  132.53700 -0.994027     USDT  1988.05500
1  1718899618000  DOGEUSDT  BUY    0.12182 -0.279796     USDT  1398.98088
2  1718899618000  DOGEUSDT  BUY    0.12182 -0.039494     USDT   197.47022
3  1718899616000  DOGEUSDT  BUY    0.12182 -0.008284     USDT    16.56752
4  1718899616000  DOGEUSDT  BUY    0.12182 -0.046109     USDT    92.21774

  quantityAsset  realizedProfit realizedProfitAsset baseAsset      qty  \
0          USDT             0.0                USDT       SOL     15.0
1          USDT             0.0                USDT      DOGE  11484.0
2          USDT             0.0                USDT      DOGE   1621.0
3          USDT             0.0                USDT      DOGE    136.0
4          USDT             0.0                USDT      DOGE    757.0

  positionSide  activeBuy             Port_IDs
0         LONG       True  3925368433214965504
1         LONG      False  3925368433214965504
2         LONG      False  3925368433214965504
3         LONG       True  3925368433214965504
4         LONG       True  3925368433214965504
                Port_IDs       ROI           PnL  Sharpe Ratio       MDD  \
96   4020204877254599680  0.733446  83347.153462      0.060748  1.106559
75   3999240873283311617  1.141374  44446.918627      0.227505  0.997025
98   4021669203289716224  0.859339  27963.774511      0.068251  0.998458
50   3960874214179953664  0.505165  21527.023137      0.162948  1.057843
107  4028701921959171840  0.896220  19753.162333      0.275724  1.000000
17   3907081197088384000  2.267194  18638.536459      0.222729  1.000000
48   3956076827719377409  2.091124  17430.479532      0.099528  1.000000
62   3986814617275053313  1.751192  16969.210989      0.329787  1.000000
99   4022565861939831809  0.557467  16866.053765      0.299602  1.000000
5    3788465932399412480  1.739763  14687.797494      0.152912  0.998232
63   3987739404272887297  1.213542  13545.622034      0.049883  1.000000
125  4031493134338259457  0.332124  13002.061262      0.156114  0.996460
51   3962024093501274881  0.374547  12122.186474      0.074067  1.012465
84   4008711265867865600  0.661865  12093.108838      0.266290  0.998656
27   3931992636670880512  1.199272  11175.522295      0.050796  1.000000
30   3936410995029308417  6.053973  10857.799757      0.298984  1.000000
32   3939318616482048768  2.029366  10234.236354      0.203829  1.000000
73   3998572645139652353  0.999224  10203.613849      0.262291  0.990868
136  4037121179310444801  0.354832   9887.642920      0.109102  0.995643
93   4017263283405469185  0.298952   9432.100218      0.030090  1.277407

      Win Rate  Win Positions  Total Positions  Composite Score
96   32.942149         1993.0           6050.0     20840.298780
75   52.321981         2366.0           4522.0     11117.350215
98   31.391201          528.0           1682.0      6994.354431
50   51.568381         1233.0           2391.0      5387.088085
107  54.294032          373.0            687.0      4944.043997
17   61.397148         2540.0           4137.0      4666.498534
48   51.557712         2019.0           3916.0      4363.422897
62   78.221722         2780.0           3554.0      4250.716234
99   52.765957          372.0            705.0      4222.017197
5    44.607364         1369.0           3069.0      3676.962886
63   22.826446         1381.0           6050.0      3389.062192
125  36.156697          683.0           1889.0      3254.262376
51   26.472899          337.0           1273.0      3033.319216
84   42.131980          166.0            394.0      3027.742427
27   40.165289         2430.0           6050.0      2798.267043
30   30.000000            6.0             20.0      2719.325928
32   37.460317          118.0            315.0      2562.954696
73   35.714286           95.0            266.0      2554.828486
136  48.401254          772.0           1595.0      2476.879779
93   33.619835         2034.0           6050.0      2361.441131

<ipython-input-42-80945898458d>:62: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  metrics = trade_data.groupby('Port_IDs').apply(calculate_metrics).reset_index()

In [44]:
top_20.head(20)

,Port_IDs,ROI,PnL,Sharpe Ratio,MDD,Win Rate,Win Positions,Total Positions,Composite Score
96,4020204877254599680,0.733446,83347.153462,0.060748,1.106559,32.942149,1993.0,6050.0,20840.298780
75,3999240873283311617,1.141374,44446.918627,0.227505,0.997025,52.321981,2366.0,4522.0,11117.350215
98,4021669203289716224,0.859339,27963.774511,0.068251,0.998458,31.391201,528.0,1682.0,6994.354431
50,3960874214179953664,0.505165,21527.023137,0.162948,1.057843,51.568381,1233.0,2391.0,5387.088085
107,4028701921959171840,0.896220,19753.162333,0.275724,1.000000,54.294032,373.0,687.0,4944.043997
17,3907081197088384000,2.267194,18638.536459,0.222729,1.000000,61.397148,2540.0,4137.0,4666.498534
48,3956076827719377409,2.091124,17430.479532,0.099528,1.000000,51.557712,2019.0,3916.0,4363.422897
62,3986814617275053313,1.751192,16969.210989,0.329787,1.000000,78.221722,2780.0,3554.0,4250.716234
99,4022565861939831809,0.557467,16866.053765,0.299602,1.000000,52.765957,372.0,705.0,4222.017197
5,3788465932399412480,1.739763,14687.797494,0.152912,0.998232,44.607364,1369.0,3069.0,3676.962886
63,3987739404272887297,1.213542,13545.622034,0.049883,1.000000,22.826446,1381.0,6050.0,3389.062192
125,4031493134338259457,0.332124,13002.061262,0.156114,0.996460,36.156697,683.0,1889.0,3254.262376
51,3962024093501274881,0.374547,12122.186474,0.074067,1.012465,26.472899,337.0,1273.0,3033.319216
84,4008711265867865600,0.661865,12093.108838,0.266290,0.998656,42.131980,166.0,394.0,3027.742427
27,3931992636670880512,1.199272,11175.522295,0.050796,1.000000,40.165289,2430.0,6050.0,2798.267043
30,3936410995029308417,6.053973,10857.799757,0.298984,1.000000,30.000000,6.0,20.0,2719.325928
32,3939318616482048768,2.029366,10234.236354,0.203829,1.000000,37.460317,118.0,315.0,2562.954696
73,3998572645139652353,0.999224,10203.613849,0.262291,0.990868,35.714286,95.0,266.0,2554.828486
136,4037121179310444801,0.354832,9887.642920,0.109102,0.995643,48.401254,772.0,1595.0,2476.879779
93,4017263283405469185,0.298952,9432.100218,0.030090,1.277407,33.619835,2034.0,6050.0,2361.441131